
            <div class="wrap-about align-items-stretch d-flex">
                <div class="bg-primary align-self-stretch px-4 py-5 w-100">
                    <h2 class="heading-white mb-4">My ToDo List</h2>
                    <form class="appointment-form" [formGroup]="todoForm">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="location" placeholder="Location">
                        </div>
                       
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="contact" placeholder="Contact">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="2" class="form-control" formControlName="note" placeholder="Additional Note"></textarea>
                        </div>
                       
                    </form>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary py-3 px-4"  (click)="saveTodo()"> Create New</button>
                    </div>
                </div>
            </div>