

<div class="services">
    <form action="#" class="searchform order-lg-last" style="border: 1px solid black; width: 15rem">
        <div class="form-group d-flex" >
            <input type="text" class="form-control pl-3"  #Filter placeholder="Search" >
            <button type="submit" placeholder="" class="form-control search" (click)="search(Filter.value)"><span class="ion-ios-search"></span></button>
        </div>
    </form>
</div>