<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>

      </ul>
    </div>
  </div>
</nav>


<!-- <section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
  <div class="container" style="margin-top:10rem; margin-bottom:10rem">
    <div class="row d-flex no-gutters align-items-stretch	consult-wrap">
     
    <app-create-todo></app-create-todo> 
     
     <app-master></app-master> 

    </div>
  </div>
</section> -->

<router-outlet></router-outlet>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-1">
      <div class="col-md-6 col-lg-2">
        <div class="ftco-footer-widget mb-5 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
          </ul>
        </div>
      </div>


    </div>

  </div>
</footer>