
  


  <section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
    <div class="container" style="margin-top:10rem; margin-bottom:10rem">
      <div class="row d-flex no-gutters align-items-stretch	consult-wrap">
       
       <app-create-todo></app-create-todo>
       
        <div class="wrap-about align-items-stretch d-flex">
            <div class="bg-white p-5">
                <h2 class="mb-4">ToDo List</h2>
                <div class="row">
                      
                    <app-search-todo-list></app-search-todo-list>
                   
                </div>

                <div class="row">
                    <table class="table table-hover" style="width:40rem">
                        <thead>
                            <tr style="font-weight: bolder;">
                               <td>Title</td>
                               <td>Location</td>
                               <td>Contact</td>
                               <td>Note</td>
                               <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of observable|async">
                                <td hidden>{{obj.id}}</td>
                                <td>{{obj.title}}</td>
                                <td>{{obj.location}}</td>
                                <td>{{obj.contact}}</td>
                                <td>{{obj.note}}</td>
                                <td>
                                    <div class="form-group">
                                        <input type="submit" value="Details"  routerLink="/d" class="btn btn-secondary">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  
      </div>
    </div>
  </section>

         
       